:root {
    --main-bg-color: #f9f9f9;
    --main-fg-color: #161616;
}
@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #161616;
        --main-fg-color: #f9f9f9;
    }
}


/* Spacings */
ul {
    margin: 0;
}

header p {
    margin: 0;
}

body > header {
    padding: 0.25rem 1rem;
}

body > footer {
    padding: 0.25rem 1rem;
}

main > aside {
    padding: 0 1rem;
}

main > article {
    padding: 0 1rem;
}

aside h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

aside ul {
    padding: 0;
}



/* Dark/Light colors */
body {
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
}

/* Typography */
html {
    font-size: 18px;
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 20px;
    }
}

body {
    font-family: Cambria, Georgia, serif;
}

header nav {
    font-size: 1.25rem;
    line-height: 1.4rem;
}

header p {
    font-size: 0.80rem;
}

h1,h2,h3 {
    font-family: Calibri, Tahoma, Geneva, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 3rem 0 1.5rem 0;
    line-height: 2.1rem;
}

code, pre {
    font-family: Jetbrains Mono, Fira Code, Consolas, Hack, monospace;
    font-size: 0.75em;
}



/* Code blocks */
pre.chroma {
    padding: 1rem;
    overflow: auto;
}


/* Styling */
header ul {
    list-style: none;
    padding-left: 0px;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type#accessibility_concerns */
header ul li::before {
    content: "\200B";
}

ul {
    list-style-type: "• ";
}

aside ul {
    list-style: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type#accessibility_concerns */
aside ul li::before {
    content: "\200B";
}



/* Links */
a {
    color: #0069a8;
    transition: color .2s;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* SVG text and outlines */
svg {
    /* not too big */
    max-width: 66%;
    max-height: 50%;
    width: auto;
    height: auto;

    /* centered */
    display: block;
    margin: auto;
}

/* nested svgs add 1,2,etc to ids */
#everything-black *, #everything-black1 *, #everything-black2 * {
    color: var(--main-fg-color) !important;
    stroke: var(--main-fg-color) !important;
    fill: var(--main-fg-color) !important;
}

.figure-caption {
    text-align: center;
}



/* Blog layout */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: " header   main    main"
                         "sidebar   main    main"
                         " footer footer  footer";
}

@media only screen and (max-width: 1280px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: " header"
                             "sidebar"
                             "   main"
                             " footer";
    }
}

body > header {
    grid-area: header;
}

body > footer {
    grid-area: footer;
}

main {
    /* needed to use grid-area on indirect children of body */
    display: contents;
}

main > aside {
    grid-area: sidebar;
}

main > article {
    grid-area: main;
    overflow-y: auto;
}
