:root {
    --main-bg-color: #f9f9f9;
    --highlight-bg-color: #f0f0f0;
    --main-fg-color: #161616;
    --constant-fg-color: #A276CA;
    --type-fg-color: #515C8B;
}
@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #161616;
        --highlight-bg-color: #252525;
        --main-fg-color: #f9f9f9;
        --constant-fg-color: #CF96FF;
        --type-fg-color: #97AAFF;
    }
}


/* Spacings */
ul {
    margin: 0;
    padding: 0;
}

header p {
    margin: 0;
}

body > header {
    padding: 0.25rem 1rem;
}

body > footer {
    padding: 0.25rem 1rem;
}

main > aside {
    padding: 0 1rem;
}

main > article {
    padding: 0 1rem;
}

/* if there is no sidebar, space out a bit more*/
article:only-child {
    padding: 0 2rem;
}

aside h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}



/* Dark/Light colors */
body {
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
}

/* Typography */
html {
    font-size: 18px;
    line-height: 1.2;
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 20px;
    }
}

body {
    font-family: Cambria, Georgia, serif;
}

h1,h2,h3,h4 {
    font-family: Calibri, Tahoma, Geneva, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 1.2rem 0;
}

h4 {
    font-size: 1rem;
    line-height: 1.2rem; /* line-height(1.2) * 1.2 */
}

h3 {
    font-size: 1.2rem;
    line-height: 1.44rem; /* line-height(1.2) * 1.2 */
}

h2 {
    font-size: 1.4rem;
    line-height: 1.68rem; /* line-height(1.2) * 1.2 */
}

h1 {
    font-size: 1.6rem;
    line-height: 1.92rem; /* line-height(1.2) * 1.2 */
}

p {
    margin: 1.2rem 0;
    font-size: 1rem;
    line-height: 1.2rem;
}

code, pre {
    font-family: Jetbrains Mono, Fira Code, Consolas, Hack, monospace;
    font-size: 0.75rem;
}



/* Code blocks */
pre.chroma {
    padding: 1rem;
    overflow: auto;
}

/* inline code */
:not(pre) > code {
    color: var(--constant-fg-color);
    background-color: var(--highlight-bg-color);
    border: 2px solid var(--highlight-bg-color);
}


/* Lists */
header ul {
    list-style: none;
    padding-left: 0px;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type#accessibility_concerns */
header ul li::before {
    content: "\200B";
}

header ul li {
    display: inline;
}

ul {
    list-style-type: "• ";
}

aside ol {
    list-style: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type#accessibility_concerns */
aside ol li::before {
    content: "\200B";
}

aside nav ol {
    padding-left: 1rem;
}

aside nav > ol {
    padding: 0;
}


/* Links */
a {
    color: #0069a8;
    transition: color .2s;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* block quotes */
blockquote {
    border-left: 0.25rem solid var(--main-fg-color);
    padding-left: 0.5rem;
}


/* SVG text and outlines */
svg {
    /* not too big */
    max-width: 66%;
    max-height: 50%;
    width: auto;
    height: auto;

    /* centered */
    display: block;
    margin: auto;
}

/* nested svgs add 1,2,etc to ids */
#everything-black *, #everything-black1 *, #everything-black2 * {
    color: var(--main-fg-color) !important;
    stroke: var(--main-fg-color) !important;
    fill: var(--main-fg-color) !important;
}

.figure-caption {
    text-align: center;
}



/* Blog layout */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: " header header  header"
                         "sidebar   main    main"
                         " footer footer  footer";
}

@media only screen and (max-width: 1280px) {
    html, body {
        width: auto;
        height: auto;
    }

    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: " header"
                             "sidebar"
                             "   main"
                             " footer";
    }
}

body > header {
    grid-area: header;
}

body > footer {
    grid-area: footer;
}

main {
    /* needed to use grid-area on indirect children of body */
    display: contents;
}

main > aside {
    grid-area: sidebar;
}

main > article {
    grid-area: main;
    overflow-y: auto;
}



/* Syntax highlighting */
/* Background */ .chroma {  }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err {  }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%; }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { font-weight: bold; color: var(--type-fg-color)  }
/* KeywordConstant */ .chroma .kc { font-weight: bold; color: var(--type-fg-color) }
/* KeywordDeclaration */ .chroma .kd { font-weight: bold; color: var(--type-fg-color) }
/* KeywordNamespace */ .chroma .kn { font-weight: bold; color: var(--type-fg-color) }
/* KeywordPseudo */ .chroma .kp { color: var(--type-fg-color) }
/* KeywordReserved */ .chroma .kr { font-weight: bold; color: var(--type-fg-color) }
/* KeywordType */ .chroma .kt { color: var(--type-fg-color) }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na {  }
/* NameBuiltin */ .chroma .nb {  }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { font-weight: bold }
/* NameConstant */ .chroma .no {  }
/* NameDecorator */ .chroma .nd {  }
/* NameEntity */ .chroma .ni { font-weight: bold }
/* NameException */ .chroma .ne { font-weight: bold }
/* NameFunction */ .chroma .nf {  }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn { font-weight: bold }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { font-weight: bold }
/* NameVariable */ .chroma .nv {  }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l { color: var(--constant-fg-color) }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { font-style: italic }
/* LiteralStringAffix */ .chroma .sa { font-style: italic }
/* LiteralStringBacktick */ .chroma .sb { font-style: italic }
/* LiteralStringChar */ .chroma .sc { font-style: italic }
/* LiteralStringDelimiter */ .chroma .dl { font-style: italic }
/* LiteralStringDoc */ .chroma .sd { font-style: italic }
/* LiteralStringDouble */ .chroma .s2 { font-style: italic }
/* LiteralStringEscape */ .chroma .se { font-weight: bold; font-style: italic }
/* LiteralStringHeredoc */ .chroma .sh { font-style: italic }
/* LiteralStringInterpol */ .chroma .si { font-weight: bold; font-style: italic }
/* LiteralStringOther */ .chroma .sx { font-style: italic }
/* LiteralStringRegex */ .chroma .sr { font-style: italic }
/* LiteralStringSingle */ .chroma .s1 { font-style: italic }
/* LiteralStringSymbol */ .chroma .ss { font-style: italic }
/* LiteralNumber */ .chroma .m {  color: var(--constant-fg-color)  }
/* LiteralNumberBin */ .chroma .mb {  color: var(--constant-fg-color)  }
/* LiteralNumberFloat */ .chroma .mf {  color: var(--constant-fg-color)  }
/* LiteralNumberHex */ .chroma .mh {  color: var(--constant-fg-color)  }
/* LiteralNumberInteger */ .chroma .mi {  color: var(--constant-fg-color)  }
/* LiteralNumberIntegerLong */ .chroma .il {  color: var(--constant-fg-color)  }
/* LiteralNumberOct */ .chroma .mo {  color: var(--constant-fg-color)  }
/* Operator */ .chroma .o {  }
/* OperatorWord */ .chroma .ow { font-weight: bold }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { font-style: italic }
/* CommentHashbang */ .chroma .ch { font-style: italic }
/* CommentMultiline */ .chroma .cm { font-style: italic }
/* CommentSingle */ .chroma .c1 { font-style: italic }
/* CommentSpecial */ .chroma .cs { font-style: italic }
/* CommentPreproc */ .chroma .cp {  }
/* CommentPreprocFile */ .chroma .cpf {  }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd {  }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh { font-weight: bold }
/* GenericInserted */ .chroma .gi {  }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp { font-weight: bold }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { font-weight: bold }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
