{{ define "main" }}

<article>
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  <section>
    <h2>Latest posts:</h2>

    {{ $posts           := where .Site.RegularPages "Type" "posts" }}
    {{ $published_posts := where $posts "Draft" false }}

    {{ range $published_posts }}
      {{ $publishDate := .PublishDate.Format "2006-01-02" }}
      <p>
        <time datetime="{{ $publishDate }}">{{ $publishDate }}</time>
        -
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </p>
    {{end}}
  </section>

  <section>
    <h2>Tags:</h2>
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies.tags }}
      <a href="{{ "/tags/" | relLangURL }}{{ $taxonomyname | urlize }}">{{ $taxonomyname }}</a>
    {{ end }}
  </section>

</article>

{{ end }}
